{% extends 'emails/base_email.html.twig' %}

{% set year = submission.getWorkMonth().getYear() %}
{% set monthDate = (year ~ '-' ~ '%02d'|format(submission.getWorkMonth().getMonth()) ~ '-01')|date('F') %}
{% set lastName = submission.getWorkMonth().getUser().getLastName() %}
{% set firstName = submission.getWorkMonth().getUser().getFirstName() %}

{% block title %}
    {% if submission.getAttachmentPath() is not empty %}
        Fiche d'heures + justificatif - {{ monthDate|trans }} {{ year }}
    {% else %}
        Fiche d'heures - {{ monthDate|trans }} {{ year }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if submission.getAttachmentPath() is not empty %}
        <h1>Fiche d'heures + justificatif de transport - {{ monthDate|trans }} {{ year }}</h1>
        <p>Bonjour,</p>
        <p>Vous trouverez ci-joint ma fiche d'heures ainsi que mon justificatif de transport pour le mois de {{ monthDate|trans }}.</p>
    {% else %}
        <h1>Fiche d'heures - {{ monthDate|trans }} {{ year }}</h1>
        <p>Bonjour,</p>
        <p>Vous trouverez ci-joint ma fiche d'heures pour le mois de {{ monthDate|trans }}.</p>
    {% endif %}

    <p>
        Cordialement,<br>
        {{ firstName|capitalize }}
    </p>
{% endblock %}
