<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-light">
        {% block header %}
            <header class="d-flex justify-content-between align-items-center px-4 py-3 border-bottom">
                <a href="{{ path('app_home') }}" class="d-flex align-items-center text-decoration-none text-dark gap-2">
                    <img src="{{ asset('images/logo-timeboard.png') }}" alt="Logo TimeBoard" height="40">
                    <span class="fs-3 fw-bold">TimeBoard</span>
                </a>
            </header>
        {% endblock %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
