{% extends 'base.html.twig' %}

{% set type = isNew ? 'Ajouter' : 'Modifier' %}
{% block title %}TimeBoard - {{ type }} une journée de travail{% endblock %}

{% block body %}
    <div class="container py-4">
        <h1 class="mb-4">{{ type }} une journée de travail</h1>
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_home') }}" class="btn-close" aria-label="Fermer"></a>
        </div>

        <turbo-frame id="work-day-form-frame">
            <div data-controller="work-form">
                {{ form_start(workDayForm, {
                    action: isNew ? path('app_work_day_create') : path('app_work_day_update', {'id': workDay.id}),
                }) }}
                {{ form_errors(workDayForm) }}

                <div class="mb-3">
                    {{ form_row(workDayForm.date) }}
                </div>

                <hr>

                <div data-work-form-target="container">
                    {% for workPeriodForm in workDayForm.workPeriods %}
                        <div class="work-form-entry mb-4" data-work-form-target="workFormEntry">
                            <div data-error-target="timeError" class="text-danger small d-none">
                                L'heure de début doit être inférieure à l'heure de fin.
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(workPeriodForm.timeStart) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(workPeriodForm.timeEnd) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(workPeriodForm.durationDisplay, {
                                        attr: {
                                            'readonly': true,
                                            'disabled': true
                                        }
                                    }) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(workPeriodForm.duration) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(workPeriodForm.location) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(workPeriodForm.replacedAgent) }}
                                </div>
                            </div>

                            <button type="button" class="btn btn-danger mt-2 remove-period-button d-none" data-action="click->work-form#removePeriod">
                                Supprimer
                            </button>
                        </div>
                    {% endfor %}
                </div>

                <template data-work-form-target="workFormTemplate">
                    <div class="work-form-entry mb-4" data-work-form-target="workFormEntry">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(workDayForm.workPeriods.vars.prototype.timeStart) | replace({ '__name__': '__name__' })|raw }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(workDayForm.workPeriods.vars.prototype.timeEnd) | replace({ '__name__': '__name__' })|raw }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(workDayForm.workPeriods.vars.prototype.durationDisplay, {
                                    attr: {
                                        'readonly': true,
                                        'disabled': true
                                    }
                                }) | replace({ '__name__': '__name__' })|raw }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(workDayForm.workPeriods.vars.prototype.duration) | replace({ '__name__': '__name__' })|raw }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(workDayForm.workPeriods.vars.prototype.location) | replace({ '__name__': '__name__' })|raw }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(workDayForm.workPeriods.vars.prototype.replacedAgent) | replace({ '__name__': '__name__' })|raw }}
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger mt-2 remove-period-button d-none" data-action="click->work-form#removePeriod">
                            Supprimer
                        </button>
                    </div>
                </template>

                <div class="d-none" data-work-form-target="hasLunchTicket">
                    {{ form_row(workDayForm.hasLunchTicket) }}
                </div>

                <div class="alert alert-info mb-3 d-none" data-work-form-target="lunchTicketMessage">
                    <i class="bi bi-ticket-perforated"></i>
                    Un ticket restaurant vous est attribué pour cette journée
                </div>

                <div class="text-center my-4">
                    <button type="button" class="btn btn-outline-primary" data-work-form-target="addButton" data-action="click->work-form#addPeriod">Ajouter un créneau</button>
                </div>

                <div>
                    <span
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Veuillez remplir correctement toutes les périodes de travail"
                            id="submit-button-wrapper"
                    >
                        <button
                                type="submit"
                                class="btn btn-primary"
                                data-action="click->work-form#preventIfInvalid"
                                data-work-form-target="submitButton"
                                disabled
                        >
                            Enregistrer
                        </button>
                    </span>
                </div>

                {{ form_end(workDayForm) }}
            </div>
        </turbo-frame>
    </div>
{% endblock %}
