{% extends 'base.html.twig' %}

{% set type = isNew ? 'Ajouter' : 'Modifier' %}
{% set frameId = workDay.id ?? 'new' %}
{% block title %}{{ type }} une journée de travail - TimeBoard{% endblock %}

{% block body %}
    <div class="container py-4">
        <h1 class="mb-4">{{ type }} une journée de travail</h1>

        <turbo-frame id="work-day-form-{{ frameId }}">
            <div data-controller="work-form">
                {{ form_start(workDayForm, {
                    action: isNew ? path('app_work_day_create') : path('app_work_day_update', {'id': workDay.id}),
                }) }}

                <div class="card mb-3">
                    <div class="card-header bg-success text-white text-center fw-bold">
                        <span class="badge bg-success fs-6"><i class="bi bi-calendar-event"></i> Nouvelle journée</span>
                    </div>
                    {% include 'form/_form_errors.html.twig' with {'form': workDayForm} %}

                    {{ form_row(workDayForm.date) }}

                    <div data-work-form-target="container">
                        <div class="card mx-3">
                            {% for workPeriodForm in workDayForm.workPeriods %}
                                <div class="work-form-entry" data-work-form-target="workFormEntry">
                                    <div class="card-body">
                                        <div class="text-danger small d-none" data-error-target="timeError">
                                            L'heure de début doit être inférieure à l'heure de fin.
                                        </div>
                                        <div class="row g-3 mb-3">
                                            <div class="col-12 col-md-3">
                                                {{ form_row(workPeriodForm.timeStart) }}
                                            </div>

                                            <div class="col-12 col-md-3">
                                                {{ form_row(workPeriodForm.timeEnd) }}
                                            </div>

                                            <div class="col-12 col-md-2">
                                                {{ form_row(workPeriodForm.durationDisplay) }}
                                            </div>

                                            <div class="col-12 col-md-4">
                                                {{ form_row(workPeriodForm.type) }}
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-12 col-md-6">
                                                {{ form_row(workPeriodForm.location) }}
                                            </div>

                                            <div class="col-12 col-md-6">
                                                {{ form_row(workPeriodForm.replacedAgent) }}
                                            </div>
                                            {{ form_row(workPeriodForm.duration) }}
                                        </div>
                                        {% if loop.index >= 2 %}
                                            <div class="text-end mt-3">
                                                <button type="button" class="btn btn-outline-danger btn-sm" data-action="click->work-form#removePeriod">
                                                    <i class="bi bi-trash"></i> Supprimer ce créneau
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <template data-work-form-target="workFormTemplate">
                        <div class="card shadow-sm work-form-entry m-3" data-work-form-target="workFormEntry">
                            <div class="card-body">
                                <div class="text-danger small d-none" data-error-target="timeError">
                                    L'heure de début doit être inférieure à l'heure de fin.
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-12 col-md-3">
                                        {{ form_row(workDayForm.workPeriods.vars.prototype.timeStart) | replace({ '__name__': '__name__' }) | raw }}
                                    </div>

                                    <div class="col-12 col-md-3">
                                        {{ form_row(workDayForm.workPeriods.vars.prototype.timeEnd) | replace({ '__name__': '__name__' }) | raw }}
                                    </div>

                                    <div class="col-12 col-md-2">
                                        {{ form_row(workDayForm.workPeriods.vars.prototype.durationDisplay) | replace({ '__name__': '__name__' }) | raw }}
                                    </div>

                                    <div class="col-12 col-md-4">
                                        {{ form_row(workDayForm.workPeriods.vars.prototype.type) | replace({ '__name__': '__name__' }) | raw }}
                                    </div>
                                </div>

                                <div class="row g-3">
                                    <div class="col-12 col-md-6">
                                        {{ form_row(workDayForm.workPeriods.vars.prototype.location) | replace({ '__name__': '__name__' }) | raw }}
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {{ form_row(workDayForm.workPeriods.vars.prototype.replacedAgent) | replace({ '__name__': '__name__' }) | raw }}
                                    </div>
                                    {{ form_row(workDayForm.workPeriods.vars.prototype.duration) | replace({ '__name__': '__name__' }) | raw }}
                                </div>

                                <div class="text-end mt-3">
                                    <button type="button" class="btn btn-outline-danger btn-sm" data-action="click->work-form#removePeriod">
                                        <i class="bi bi-trash"></i> Supprimer ce créneau
                                    </button>
                                </div>
                            </div>
                        </div>
                    </template>

                    <div class="d-none" data-work-form-target="hasLunchTicket">
                        {{ form_row(workDayForm.hasLunchTicket) }}
                    </div>

                    <div class="alert alert-info mt-3 d-none" data-work-form-target="lunchTicketMessage">
                        <i class="bi bi-ticket-perforated"></i>
                        Un ticket restaurant vous est attribué pour cette journée
                    </div>

                    <div class="text-center my-2">
                        <button type="button" class="btn btn-outline-success btn-sm" data-work-form-target="addButton" data-action="click->work-form#addPeriod">Ajouter un créneau</button>
                    </div>

                    <div class="d-flex gap-3 ms-3 mb-2">
                        <a href="{{ isNew ? path('app_home') : path('app_work_day_partial', { id: workDay.id }) }}" class="btn btn-secondary btn-sm" data-turbo-frame="work-day-form-{{ frameId }}">Annuler</a>

                        <span
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Veuillez remplir correctement toutes les périodes de travail"
                                id="submit-button-wrapper"
                        >
                            <button
                                    type="submit"
                                    class="btn btn-primary btn-sm"
                                    data-action="click->work-form#preventIfInvalid"
                                    data-work-form-target="submitButton"
                                    disabled
                            >
                                Enregistrer
                            </button>
                        </span>
                    </div>
                </div>

                {{ form_end(workDayForm) }}
            </div>
        </turbo-frame>
    </div>
{% endblock %}
